*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: Aria, sans-serif;
    background-color: #d2d3d4;
    color: #1E293B;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2563EB;
    color: white;
    padding: 20px;
}
nav ul {
     list-style: none;
    text-decoration: none;
    color: white;
}
nav li{
    display:inline;
    padding:10px;
}

nav a {
    position:relative;
    text-decoration: none;
    color: white;
}
nav a::after{
    content: "";
    position:absolute;
    left:0;
    bottom:-5px;
    width:0;
    height:2px;
    background: #FFD700;
    transition: width 0.3s ease;
}
nav a:hover{
    color: #FFD700;
}
nav a:hover::after{
    width:100%;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 80px 60px;
}
.hero-text{
    width: 50%;
}
.hero h2{
    font-size: 3rem;
    margin-bottom: 10px;
}
.hero h3{
    color: #2563EB;
    margin-bottom: 20px;
}
.hero p{
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.btn {
    display: inline-block;
    background-color: #2563EB;
    color: white;
    padding: 12px 24px;
    text-decoration: none; 
    border-radius: 6px;
}
.btn:hover{
    background-color: #1E40AF;
}
.hero-image img{
    width: 300px;
    border-radius:50%;
    box-shadow:0 5px 20px rgba (0,0,0,0.2);
}
.about{
    padding: 80px 60px;
    text-align:center
}
.about h2{
font-size: 2.5rem;
color: #2563EB;
margin-bottom: 30px;
}
.about p{
    max-width: 800px;
    margin: 20px auto;
    font-size: 18px;
    line-height: 1.8;
}
.skills{
    padding: 80px 60px;
    background: #f1f5f9;
}
.skills h2{
    text-align: center;
    color: #2563EB;
    margin-bottom: 40px;
}
.skills-container{
display: flex;
justify-content: center;
gap: 30px;
flex-wrap: wrap;
}
.skills-card{
    background: white;
    width: 250;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 55px 15px rgba(0,0,0,0,1);
}
.skills-card:hover{
    transform: translateY(-10px);
    transition: 0.3s;
}
.project{
    padding: 80px 60px;
}
.project h2{
    text-align: center;
    color: #2563EB;
    margin-bottom: 50px;
}
.project-container{
    display: flex;
    justify-content: center;
    grid:30px;
    flex-wrap: wrap;
}
.project-card{
    width: 300px;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 15px rgba(0, 0, 0, .1);
}
.project-card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.project-card h3 {
    padding: 20px 20px 10px;
    }
    .project-card p{
        padding: 0 20px;
        line-height: 1.6;
    }
    .project-card a{
        display: inline-block;
        margin: 20px;
        padding: 10px 18px;
        background: #2563EB;
        color: white;
        text-decoration: none;
        border-radius: 6px;
    }
    .project-card{
        transition: 0.3s;
    }
    .project-card:hover{
        transform: translateY(-8px);
    }
    .contact{
        padding: 80px 60px;
        background: #f8fafc;
        text-align: center;
    }
    form{
        max-width: 600px;
        margin: 40px auto;
    }
    input,
    textarea{
        width: 100%;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px soli #ccc;
        border-radius: 8px;
        font-size: 16px;
    }
    button{
        background:#2563EB;
        color: white;
        border: none;
        padding: 15px 30px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 16px;
    }
    button:hover{
        background: #1D4ED8;
    }
    footer{
        background: #1E293B;
        color: white;
        text-align: center;
        padding: 30px;
    }

    @media(max-width:768px){
        header{
            flex-direction:column;
            gap:20px;
        }
        nav ul{
            flex-direction:column;
            text-align:center;
        }
        .hero{
            flex-direction:column;
            text-align:center;
        }
        .hero h2{
            font-size:25px;
        }
        .hero-text{
            width:100%;
        }
        .hero-image img{
            width:220px;
            margin-top:30px;
        }
        .skills-container, .project-container{
            flex-direction:column;
            align-items:center;
        }
    }